<section class="info-block">
    <div class="accordion" id="property-accordian">
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#property-interests" aria-expanded="false" aria-controls="property-interests">
                <b>External Features</b>
              </button>
            </h2>
          </div>
          <div id="property-interests" class="collapse" aria-labelledby="headingTwo" data-parent="#property-accordian">
            <div class="card-body">
                <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Parking</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td>Carport: 1</td>
                        <td>Automated Garage: 1</td>
                      </tr>
                      <tr>
                        <td>Drive in access for 4 cars</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>General</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td>Garden</td>
                        <td>Patio</td>
                      </tr>
                      <tr>
                        <td>Laundry</td>
                        <td>Outside Bathroom</td>
                      </tr>
                      <tr>
                        <td>Outside Storage Room</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Other</th>
                        <th></th>
                      </tr>
                      <tr>
                        <td>Aluminium gutters</td>
                        <td>White aluminium windows</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#property-other-interests" aria-expanded="false" aria-controls="property-other-interests">
                <b>Other Features</b>
              </button>
            </h2>
          </div>
          <div id="property-other-interests" class="collapse" aria-labelledby="headingThree" data-parent="#property-accordian">
            <div class="card-body">
                <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Pizza oven</td>
                        <td>Security system (inclusive of cameras)</td>
                      </tr>
                      <tr>
                        <td>Tinted north facing windows</td>
                        <td>Custom <a href="https://wonderbars.co.za/cottage-pane-burglar-bars/">Wonder Bar burglar bars</a> throughout</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
</section>