<section class="gallery-box">
    {{ $url := .Title | printf "/img/scaled/%s" }}
    {{ $folder := .Title | printf "/static/img/scaled/%s" }}
    {{ $files := readDir $folder }}
    <div id="myMosaic" class="info-block">
        {{ range $files }}
        <a href="{{$url}}/{{.Name | urlize }}"  target="_blank" rel="noopener noreferrer">
            
            <div style="background-position:center;background-size:cover;width:100%;height:100%;background-image:url('{{$url}}/{{.Name | urlize }}')"></div>
        </a>
        {{ end }}
    </div>
</section>

{{ define "javascript" }}
<script>
    $('document').ready(function(){
        $('#myMosaic').Mosaic({
            maxRowHeight: 550,
            maxRowWidth: 700,
            refitOnResize: true,
            refitOnResizeDelay: false,
            defaultAspectRatio: 1,
            maxRowHeightPolicy: 'crop',
            highResImagesWidthThreshold: 850,
            responsiveWidthThreshold: 500,
            innerGap: 5,
        });
    });
</script>
{{ end }}