{{ define "main" }}
 <!-- background bar -->
 <div class="stripe" style="background-color:{{ .Site.Params.background }};position:absolute;height:125px;width:100vw;z-index:-1;"></div>
  
 <!-- content -->
  <div class="container">
    <div class="row">
      <!-- title text (centered) -->
      <div class="mx-auto text-center" style="background-color: #fff;width: min( 100vw, 1300px);padding:20px;position:relative;top: 80px;">
        <h1>{{ .Site.Params.title }}</h1>
      </div>

      <!-- remaining content in a 1300px width max 20px padded div -->
      <div class="mx-auto" style="width:1300px;position:relative;top: 75px;">
        <!-- I chose a more complex example to fetch "{{ .Content }}" for the clear ability break into seperate markdown pages -->
        {{/*  {{ (.Site.GetPage "_index.md").Content }}  */}}
        
        {{ partial "carousel.html" . }}

        {{ partial "description_box.html" . }}

        {{ partial "features_icon_box.html" . }}
        
        {{ partial "features_accordian.html" . }}

        {{ partial "image_gallery" . }}
    </div>
</div>

{{ end }}