<!DOCTYPE html>
<html>
<head>
  <title>{{ .Site.Params.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <!-- make "pre" code blocks look better and center images -->
  <style>
    pre {
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<!-- custom HTML non-markdown stuff here -->

<body>
  <!-- background bar -->
  <div class="stripe" style="background-color:{{ .Site.Params.background }};position:absolute;height:125px;width:100vw;z-index:-1;"></div>
  
  <!-- content -->
  <div class="container">
      <div class="row">

          <!-- title text (centered) -->
          <div class="mx-auto text-center" style="background-color: #fff;width: min( 100vw, 800px);padding:20px;position:relative;top: 80px;">
            <h1>{{ .Site.Params.title }}</h1>
          </div>

          <!-- remaining content in a 800px width max 20px padded div -->
          <div class="mx-auto" style="background-color: #fff;width:800px;padding:20px;position:relative;top: 75px;">
              <!-- I chose a more complex example to fetch "{{ .Content }}" for the clear ability break into seperate markdown pages -->
              {{ (.Site.GetPage "_index.md").Content }}
          </div>
      </div>
  </div>
</body>

</html>
